.landingPageContainer{
    overflow: hidden;
}
.funPageContainer {
    text-align: center;
    background-color: rgb(214, 194, 167);
    height: 100vh;
}
.aboutPageContainer {
    text-align: center;
    background-color: whitesmoke;
    height: 120vh;
}
.projectsPageContainer {
    text-align: center;
    background-color: rgb(196, 192, 192);
    height: 100vh;
    margin: 0;
    padding: 0;
}
.resumePageContainer {
    text-align: center;
    background-color: rgb(209, 209, 255);
    height: 100vh;
}
.PageTitle {
    font-weight: bold;
    margin: 0;
    padding-top: 25vh;
    opacity: 0;
}